/* styles.css */
html, body{

  width: 100%;
  height: 100%;
}
#content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-items: stretch;
}

#header_container {
  width: 100%;
  height: 100%;
  grid-column: 2 / 5;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
}
#sidebar_container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  grid-row: 1 / 5;
  border: solid 2px black;
}

section, h1{
  align-self: center;
}
#main_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  border: solid 2px black;

}

.add-btn {
  width: 60%;
  height: 25px;
  margin: 10px;
  border-radius: 2px;
  align-self: center;
}

#project_list {
  display: flex;
  flex-direction: column;
}
.project_btn{
  width: 80%;
  height: 45px;
  margin: 10px;
  border-radius: 2px;
  align-self: center;
}
.active {
  background-color: gray;
}

#todo_form {
  display:flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

#todo_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.todo_card{
  height: 100px;
  width: 40%;
  border: solid black 2px;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
}
.todo_info,
.todo_actions{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button{
  border-radius: 2px;
}
button:hover{
  background-color: gray;
}